<nav class="w-fit text-left  border-white">
    <ol class="section-title">
        <li class="bigtitle">Director</li>
        <li><h2>-Branded Content</h2></li>
        <li><h2>-Scripted Digital Series</h2></li>
        <li><h2>-Sketches & Shorts</h2></li>
        <li><h2>-Music Videos</h2></li>
        <li class="bigtitle">Creative</li>
        <li class="bigtitle">Technologist</li>
        <li class="bigtitle">Weirdo</li>
    </ol>
</nav>

<style>
    .bigtitle {
        font-size: 8cqw;
    }

    h2 {
        font-size: 4cqw;
    }

    li {
        border-bottom: 2px white solid;
        padding: 0 1rem;
    }

    li:hover{
        background: white;
        color:var(--black);
    }
</style>
